footer {
  background: #e1f4f3;
  height: 7vh;
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer a:hover {
  text-decoration: none;
  color: orange;
}

footer a {
  margin: auto 15px;
}

.icon {
  -webkit-transform: scale(2);
}

.icon:hover {
  -webkit-transform: scale(3);
  -webkit-transition-duration: 0.5s;
}
